#article_content{
    width: 80%;
    height: 94%;
    padding: 3% 10%;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
    overflow-y: scroll;
}

#article_meta{
    width: 100%;
    margin-bottom: 20px;
}

#article img{
    width: 100%;
}

/*#article pre{
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    min-width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.95em;
    white-space: pre !important;
    overflow-y: hidden;
    overflow-x: visible;
    background-color: var(--secondary-background);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}*/

@media only screen and (max-width: 768px) {
    /*tablet styles*/

}

@media only screen and (max-width: 480px) {
    /*mobile styles*/
    #article_content {
        width: 90%;
        padding: 3% 5%;
    }   
}