#home_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    width: 90%;
    height: 90%;
}

#mypic{
    height: 80%;
    border-radius: 8px;
}

#meta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 80%;
    padding: 0px 10px;
}

#meta p{
    font-size: 1.7rem;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    /*tablet styles*/

    #home_content{
        flex-direction: column;
    }
    
    #mypic{
        width: 80%;
    }
    
    #meta p{
        font-size: 2.0rem;
    }
}

@media only screen and (max-width: 480px) {
    /*mobile styles*/
    
    #meta p{
        font-size: 1.2rem;
    }
}