<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-theme="light">
    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="icon" href="../images/logo.svg">
        <link rel="stylesheet" type="text/css" href="../css/utils.css">
        <link rel="stylesheet" type="text/css" href="../css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="origin">
        <meta charset = "utf-8">
        <meta property="og:site_name" content="C-NERD's Blog">
        <meta property="og:title" content="Home page">
        <meta property="og:description" content="Home page for C-NERD's blog">
        <meta property="og:image" content="../images/logo.svg">
        <meta property="og:type" content="website" />
        <title>C-NERD's Blog</title>
    </head>
    <body onload = "loadCallback()">
        <nav id = "navbar">
            <span id = "burger" class = "iconbox" onclick="showMenu()">
                <img class = "icon" src="../images/icons/burger.svg" alt="burger">
            </span>
        </nav>
        <main id = "home_content">
            <img id = "mypic" src = "../images/home_img.svg">
            <span id = "meta">
                <p>
                    Hello there 👋🏾,
                </p>
                <p>
                    I am Alaya Abdullahi with the internet alias <strong>C-NERD</strong>. I am a software 
                    and hardware engineer and also a medical personnel in training as at 
                    the time I am writing this. This is my blog page and in here I'll be writing
                    tech and medical related articles.
                </p>
            </span>
        </main>

    </body>
    <script src = "../js/utils.js"></script>
    <script src = "../js/home.js"></script>
</html>