<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" data-theme="light">
    <head>
        <link rel="manifest" href="../manifest.json" />
        <link rel="icon" href="../images/logo.svg">
        <link rel="stylesheet" type="text/css" href="../css/utils.css">
        <link rel="stylesheet" type="text/css" href="../css/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="origin">
        <meta charset = "utf-8">
        <meta property="og:site_name" content="C-NERD's Blog">
        <meta property="og:title" content="Home page">
        <meta property="og:description" content="Home page for C-NERD's blog">
        <meta property="og:image" content="../images/logo.svg">
        <meta property="og:type" content="website">
        <title>C-NERD's Blog</title>
    </head>
    <body onload = "loadCallback()">
        <nav id = "navbar">
            <span id = "burger" class = "iconbox" onclick="showMenu()">
                <img class = "icon" src="../images/icons/burger.svg" alt="burger">
            </span>
        </nav>
        <main id = "home_content">
            <img id = "mypic" src = "../images/home_img.svg">
            <span id = "meta">
                <h3 style = "font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-style: italic; font-weight: lighter; font-size: xx-large;">
                    Hello there 👋🏾,
                </h3>
                <ul>
                    <li>
                        I am Alaya Abdullahi with the internet alias <strong style = "color: var(--colored-text03);">C-NERD</strong>.
                    </li> 
                    <li>
                        I am a Nigerian based tech engineer and medical personnel in training as at 
                        the time I am writing this. This is my weblog site and, in here I'll be writing
                        tech and medical related articles.
                    </li>
                    <li>Also I'll be documenting other miscellaneous activities such as photography and dry jokes 😜</li>
                </ul>
            </span>
        </main>

    </body>
    <script src = "../js/articles.js"></script>
    <script src = "../js/utils.js"></script>
    <script src = "../js/home.js"></script>
</html>